@font-face {
    font-family: 'Poppins';
    src: url('../resources/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../resources/fonts/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {

    display: grid;
    grid-template-columns: auto 1fr;
    color: white;
    max-width: 80%;
    margin-inline: auto;
    border: 3px solid rebeccapurple;
    padding-block: 80px 178px;
    /* overflow-x: hidden; */

}

.search {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 16px 16px;
    background: rgba(255, 255, 255, 20%);
    border-radius: 16px;
    position: relative;
    margin-bottom: 32px;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 37px;
}

.search>input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
}

.decription {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2/4;
    margin-right: 16px;
}

.description-overview {
    text-align: center;
}

.timezone {
    font-weight: 500;
    font-size: 2rem;
}

.hourly {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2/3;
    overflow: auto;
    margin-bottom: 16px;
}

.daily {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3/4;
    overflow: auto;
}

.decription,
.hourly,
.daily {
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 40px;
}

.today-details {
    display: flex;
    flex-direction: column;
}

.hourly-list,
.daily-list {
    overflow: auto;
    display: flex;
    gap: 2rem;
    /* grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-flow: column; */
    width: max-content;
    padding-inline: 10px;

}

section {
    /* background-image: url("../resources/images/bg_foggy_night.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100dvh; */

}

.hourly-wrapper,
.daily-wrapper {
    overflow-x: auto;
    width: 100%;


}

.hourly-item,
.daily-item {
    text-align: center;
    padding-block: 21px;
    flex: 0 0 auto;

}

.hourly,
.daily {
    /* margin-block: 23px;
    padding-block: 21px; */

}

.hourly-title,
.daily-title {
    text-align: center;
    display: block;
}

.gradient-bg {
    /* background: linear-gradient(-60deg,
            rgba(255, 255, 255, 50%) 0%,
            rgba(235, 235, 235, 36.74%) 20%,
            rgba(224, 224, 224, 28.75%) 28%,
            rgba(212, 212, 212, 21.13%) 40%,
            rgba(207, 207, 207, 17.56%) 48%,
            rgba(202, 202, 202, 14.34%) 54%,
            rgba(200, 200, 200, 12.63%) 59%,
            rgba(196, 196, 196, 10%) 67%); */

    background: linear-gradient(0deg, rgba(255, 255, 255, 8%) 0%,
            rgba(255, 255, 255, 28%) 100%);

    border-radius: 12px;
    position: relative;
    z-index: 1;
}

.border-wrap {
    border-image: linear-gradient(to bottom, rgba(255, 255, 255, 50%) 0%,
            rgba(255, 255, 255, 0%) 100%);
    border-style: solid;
    padding: 3px;
}

.gradient-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    /* border thickness */
    border-radius: 12px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 50%) 0%,
            rgba(255, 255, 255, 0%) 100%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}